<div class="d-flex justify-content-between">
  <div class="d-flex flex-column">
    <span class="fw-bold"><%= @title %></span>
    <span><%= @label %></span>
  </div>
  <div class="d-flex flex-column">
    <span class="fw-bold"><%= @title2 %></span>
    <span><%= @label2 %></span>
  </div>
</div>
